@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
// .container-fluid {
//   padding-left: var(--bs-gutter-x, 1.694rem);
//   padding-right: var(--bs-gutter-x, 1.694rem);
// }

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

div {
  font-family: "Roboto", sans-serif;
}
.site-layout .site-layout-background {
  background: #fff;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout {
  // background: none !important;
}

.ant-page-header{
  padding: 16px 0;
}

.ant-notification-notice-icon {
  margin-top: -4px;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
